@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --purple: rgb(106, 0, 255);
    --teal-blue: rgb(34, 166, 179);
    --orange: rgb(255, 135, 73);
    --light-gray: rgb(240, 240, 240);
    --dark-gray: rgb(51, 51, 51);
    --green: rgb(0, 153, 51);
    --blue: rgb(51, 102, 204);
    --light-shadow: rgba(0, 0, 0, 0.2);
    --orange-hover: rgb(255, 102, 0);
    --red: rgb(60, 56, 56);
    --pink: rgb(255, 105, 180);
    --turquoise: rgb(64, 224, 208);
    --brown: rgb(139, 69, 19);
    --light-blue: rgb(173, 216, 230);
    --violet: rgb(238, 130, 238);
    --dark-green: rgb(0, 128, 0);
    --light-red: rgb(255, 99, 71);
    --gold: rgb(255, 215, 0);
    --silver: rgb(192, 192, 192);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --soft-white: #f2f2f2;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Poppins", sans-serif;
    user-select: none;
    overflow: hidden;
}


#map {
    height: 100vh;
}

.info {
    background-color: white;
    border-radius: 1em;
    padding: 0 1em;
}

#btn-cam {
    position: fixed;
    bottom: 50px;
    left: 20px;
    z-index: 998;
    background-color: rgb(248, 239, 254);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.424);
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#btn-cam:active {
    transform: scale(0.87);
}

#btn-cam img {
    width: 60px;
    height: auto;
}


.alert {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: red;
    background: var(--orange);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    color: white;
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    left: 50%;
    transform: translate(-50%, 0%);
}

.show-popup {
  padding: 18px 40px;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 18px;
  color:var(--soft-white) ;
  font-weight: 500;
}
.popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1003;
  background: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}
.popup-container.active {
  opacity: 1;
  pointer-events: auto;
  transition: .4s ease;
  
}
.popup-container .popup-box {
  width: 500px;
  background: #f2f2f2;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  padding: 30px;
  transform: scale(0);
  max-width: 80%;
}
.popup-container.active .popup-box {
  transform: scale(1);
  transition: .4s ease;
  transition-delay: .25s;
}
.popup-box h1 {
  color: #333;
  line-height: 1;
}
.popup-box p {
  color: #333;
  margin: 12px 0 20px;
}
.popup-box .close-btn {
  width: 100%;
  height: 45px;
  background: #28f3a5;
  border-radius: 6px;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 18px;
  color: #f2f2f2;
  font-weight: 500;
}
#notice {
    min-width: 30%;
    max-width: 90%;
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 2000;
}
#notice.active {
    transform: translateX(0%);
}

#notice .notice-content {
    display: flex;
    align-items: center;
}

#icon-notice{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}
.notice-content .message-notice {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.message-notice #title-notice {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.message-notice .content-notice {
    font-size: 20px;
    font-weight: 400;
    color: #666666;
}
#close-notice{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

#close-notice:hover {
    opacity: 1;
}

#notice .progress-notice {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
    
}
#notice .progress-notice:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
.progress-notice.active:before {
    animation: progress 5s linear forwards;
}
@keyframes progress {
    100% {
        right: 100%;
    }
}
#notice.active ~ button {
    pointer-events: none;
}
